{extend name="main"}

{block name="style"}{include file='source/resources/formstyle'}{/block}

{block name='content'}
<div id="NewsEditor" class="layui-clear layui-form-pane nowrap padding-bottom-30">
    <div class="layui-card news-left">
        <div class="layui-card-body layui-hide">
            <div ng-if="list.length > 0" ng-repeat="x in list" class="img-info">
                <div class="news-item transition" ng-click="setItem($index,$event)" data-tips-image='{{x.local_url}}' style="{{x.style}}" ng-class="x.active?'active':''">
                    <a ng-click="delItem($index, $event)" class="transition layui-icon layui-hide">&#x1006;</a>
                    <a ng-click="dnItem($index, $event)" class="transition layui-icon layui-hide">&#xe61a;</a>
                    <a ng-click="upItem($index, $event)" class="transition layui-icon layui-hide">&#xe619;</a>
                    <span class="news-title" ng-bind="x.title"></span>
                </div>
                <hr>
            </div>
            <div ng-if="list.length<1" class="news-item transition active">
                <a ng-click="delItem($index, $event)" class="transition layui-icon layui-hide">&#x1006;</a>
                <a ng-click="dnItem($index, $event)" class="transition layui-icon layui-hide">&#xe61a;</a>
                <a ng-click="upItem($index, $event)" class="transition layui-icon layui-hide">&#xe619;</a>
                <span class="news-title"></span>
                <hr>
            </div>
            <a class='article-add transition' ng-click="addItem()" data-text-tip="添加图文"><i class="layui-icon layui-icon-add-1"></i></a>
        </div>
    </div>
    <div class="layui-card news-right">
        <div class="layui-card-body">
            <form class="layui-form padding-20" role="form" name="news" onsubmit="return false">
                <div class="layui-form-item">
                    <label class="layui-form-label color-green">素材来源频道</label>
                    <div class="layui-input-block">
                        <input value="{$vo.channel_title|default=''}" readonly class="layui-input layui-bg-gray">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label color-green">素材归档频道</label>
                    <div class="layui-input-block">
                        <select class="layui-select" name="channel_id">
                            {foreach $channels as $k=>$v}
                            {if isset($vo.channel_id) and $vo.channel_id eq $k}
                            <option selected value="{$k}">{$v}</option>
                            {else}
                            <option value="{$k}">{$v}</option>
                            {/if}{/foreach}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label color-green">媒体素材描述</label>
                    <textarea class="layui-hide" name='caption'></textarea>
                </div>
                <div class="layui-form-item text-center padding-top-30">
                    <input ng-model="x.read_num" type="hidden">
                    <button ng-click="submit()" type="button" class="layui-btn">保存图文</button>
                </div>
            </form>
        </div>
    </div>
</div>

{/block}


{block name='script'}
<script>
    require(['angular', 'ckeditor'], function () {

        let editor;
        $('form[name="news"]').vali(null, function () {
            let vali = this, app = angular.module("NewsEditor", []).run(callback);
            angular.bootstrap(document.getElementById(app.name), [app.name]);

            function callback($rootScope) {
                $rootScope.list = [];
                $rootScope.item = {};

                $.form.load('{:request()->url()}', {output: 'json'}, 'get', function (ret) {
                    $rootScope.$apply(function () {
                        apply((ret.data || {media: []}).media || []);
                    });
                    return false;
                });

                function apply(list) {
                    if (list.length < 1) list.push({
                        title: '', author: '', caption: '',
                        read_num: 0, local_url: '__FULL__/static/theme/img/image.png',
                    });
                    for (let i in list) {
                        list[i].active = false;
                        list[i].style = "background-image:url('" + list[i].local_url + "')";
                    }
                    $rootScope.list = list;
                    $rootScope.item = $rootScope.list[0];
                    $rootScope.setItemValue('active', true);
                    $('.layui-card-body.layui-hide').removeClass('layui-hide');
                    setTimeout(function () {
                        if (editor) editor.destroy();
                        editor = window.createEditor('[name="caption"]');
                        if (typeof editor !== 'undefined') {
                            editor.setData($rootScope.item.caption);
                            vali.checkAllInput();
                        } else $('[name="caption"]').on('editor.init', function (event, myEditor) {
                            (editor = myEditor).setData($rootScope.item.caption);
                            vali.checkAllInput();
                        });
                    }, 100);
                }

                $rootScope.upItem = function (index, $event) {
                    $event.stopPropagation();
                    let tmp = [], cur = $rootScope.list[index];
                    if (index < 1) return false;
                    for (let i in $rootScope.list) {
                        (parseInt(i) === parseInt(index) - 1) && tmp.push(cur);
                        (parseInt(i) !== parseInt(index)) && tmp.push($rootScope.list[i]);
                    }
                    apply(tmp);
                };
                $rootScope.dnItem = function (index, $event) {
                    $event.stopPropagation();
                    let tmp = [], cur = $rootScope.list[index];
                    if (index > $rootScope.list.length - 2) return false;
                    for (let i in $rootScope.list) {
                        (parseInt(i) !== parseInt(index)) && tmp.push($rootScope.list[i]);
                        (parseInt(i) === parseInt(index) + 1) && tmp.push(cur);
                    }
                    apply(tmp);
                };
                $rootScope.delItem = function (index, $event) {
                    $event.stopPropagation();
                    let list = $rootScope.list, temp = [];
                    for (let i in list) (parseInt(i) !== parseInt(index)) && temp.push(list[i]);
                    delSource(list[index].id)
                    apply(temp);
                };
                $rootScope.setItem = function (index, $event) {
                    $event.stopPropagation();
                    if (!vali.checkAllInput()) return;
                    for (let i in $rootScope.list) if (parseInt(i) !== parseInt(index)) {
                        $rootScope.list[i].active = false;
                    } else {

                        $rootScope.item = $rootScope.list[i];

                        $rootScope.setItemValue('active', true);
                    }
                };
                $rootScope.setItemValue = function (name, value) {
                    $rootScope.item[name] = value;
                    $rootScope.item.style = "background-image:url('" + $rootScope.item.local_url + "')";
                };
                $rootScope.addItem = function () {
                    $rootScope.list.push({
                        caption: '',
                        local_url: '__FULL__/static/theme/img/image.png',
                        style: "background-image:url('__FULL__/static/theme/img/image.png')"
                    });
                };
                $rootScope.submit = function () {
                    if (!vali.checkAllInput()) return false;
                    $rootScope.item.caption = editor.getData();
                    let data = [];let channel = {};
                    for (let i in $rootScope.list) data.push({
                        id: $rootScope.list[i].id,
                        caption: $rootScope.list[i].caption,
                        sort: i,
                        local_url: $rootScope.list[i].local_url,
                    });
                    channel = {
                        'channel_id':document.getElementsByName('channel_id')[0].value,
                        'caption':$rootScope.list[0].caption
                    }
                    $.form.load('{:request()->url()}', {data: data,channel: channel}, "post");
                };
                $('[name="local_url"]').on('change', function () {
                    let value = this.value;
                    $rootScope.$apply(function () {
                        $rootScope.setItemValue('local_url', value);
                    });
                });

                function delSource($id) {
                    var apiBaseUrl = window.location.origin;  // 获取当前域名
                    var apiUrl = apiBaseUrl + '/plugin-telegram/channel.resources/delSource';
                    $.ajax({
                        url: apiUrl,
                        type: 'POST',
                        data: {
                            id: $id
                        }
                    });
                }
            }
        });
    });
</script>
{/block}